div:nth-of-type(1):hover {
    border: solid 2px black;
    background-color: red;
}
div:nth-of-type(2):hover{
    border: solid 2px black;
    background-color: green;
}
div:nth-of-type(3):hover {
    border: solid 2px black;
    background-color: rgb(223, 94, 55);
}

div:nth-of-type(4):hover {
    border: solid 2px black;
    background-color: rgb(75, 75, 62);
}

div:nth-of-type(5):hover {
    border: solid 2px black;
    background-color: rgb(221, 221, 131);
}

div:nth-of-type(3) {
    width: 600px;
    height: 200px;
}
h3 {
    font-family: sans-serif;
}
h3:nth-of-type(2n+1) {
    font-style: italic;
}