h1 {
    background-color: orange;
    font-size: 65px;
    font-family: sans-serif;
}

body {
    font-size: 16px;
}

li {
    font-style: italic;
    line-height: 40px;
    text-align: center;
    text-decoration: underline;
}

p {
    size: 48px;
}

#li1 {
    background-color: yellow;
}

#li2 {
    background-color: red;
}

#li3 {
    background-color: brown;
}