main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
header h1{
    font-size: 20px;
}

.navbar li{
    display: inline-block;
    margin-right: 50px;
}
.general-info {
    border: 1px solid black;
}
.general-info img{
    display: block;
    width: 240px;
}
.general-info p{
    display: inline-block;
    width: 40%;
    border: 1px solid black;
    position: static;
    top: 200px;
}
.general-info table{
    display: inline-block;
    width: 25%;
    font-size: 14px;
    border: 1px solid black;

}